<div class="container">
  <div class="title">
    <h1>Latest post</h1>
  </div>
  <div class="blog-post">
    <div *ngFor="let blog of blogs">
      <div class="column">
        <div>
          <img [src]="blog.ImageUrl" alt="Blog post image" />
          <h2>{{ blog.Title }}</h2>
          <p>{{ blog.Description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="title">
    <h1>Featured post</h1>
  </div>
  <div class="blog-post">
    <div *ngFor="let blog of featureBlogs">
      <div class="column">
        <div>
          <img [src]="blog.ImageUrl" alt="Featured Blog Image" />
          <h2>{{ blog.Title }}</h2>
          <p>{{ blog.Description }}</p>
        </div>
        <div class="icon-column">
          <i class="fa fa-thumbs-up"></i>
          <i class="fa fa-comment"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</div>
